
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-image: url(/assets/images/backgr.jpeg);
    font-family: "Rubik", sans-serif;
    background-position: center center;
    color: #445361;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }

  header {
    z-index: 2;
    background-color: #557f69;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  header h1 {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
/* Start page */
#start-page {
  background:#E6ECF0;
  border-radius: 45%;
  width: 85%;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start-page h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
/* Button style */

#btn-start {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#btn-start:hover {
    background-color: #45a049;
  }

 a#btn-rules {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #be57be; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
   
}

a#btn-rules:hover {
    background-color: #b44cb4; 
}

/* Game area */
.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.quiz-container {
    display: none;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.question-number h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
#question {
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 20px;
    
  }

 /* Options */
.options {
    font-family: "Kanit", sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
.option {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }
  
.option:hover {
    background-color: #f0f0f0;
  }
  

 /* Adding styles to highlight the selection result */ 
.correct {
    background-color: #8FEC8F; 
}

.wrong {
    background-color: #FF7272; 
}

.disabled {
    pointer-events: none;
  }

.button {
    margin-top: 20px;
    text-align: center;
  }

  #btn-next {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #btn-next:hover {
    background-color: #45a049;
  }



/* Styles for answers-tracker */ 
  #answers-tracker {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#answers-tracker div {
    width: 20px;
    height: 20px;
    border: 2px solid #445361;
    border-radius: 50%;
    margin: 0 5px;
    background-color: white;
}

#answers-tracker div.correct {
    background-color: #8FEC8F;
}

#answers-tracker div.wrong {
    background-color: red;
}
  
.quiz-over-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.quiz-over-modal.active {
    display: flex;
    z-index: 1; 

    
}
.quiz-over-modal .content {
  background-color: #fff; 
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quiz-over-modal h1 {
  font-size: 1.5rem; 
  margin-bottom: 20px;
}

.quiz-over-modal p {
  font-size: 1rem; 
  margin-bottom: 20px;
}

.quiz-over-modal button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quiz-over-modal button:hover {
  background-color: #45a049;
}


 /* Footer */
footer {
    background-color: #557f69;
    z-index: 2; 
  
    padding: 10px;
    color: white; 
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
  
  footer p {
    margin: 0; 
  }